@media screen and (min-width:0) and (max-width: 500px) {

		.modal-dialog.modal-fullsize {
		  width: 95%;
		  height: 95%;
		  padding: 3%;
		}
		.modal-content.modal-fullsize {
		  height: auto;
		  min-height: 50%;
		  border-radius: 10px; 
		}
}
@media screen and (min-width:501px) {
	
		.modal-dialog.modal-fullsize {
		  width: 50%;
		  height: 40%;
		  padding: 3%;
		}
		.modal-content.modal-fullsize {
		  height: auto;
		  min-height: 40%;
		  border-radius: 10px; 
		}
}
