/*���� Ÿ����ȿ��*/
@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 40em
    }
}
@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black
    }
}
body {
    font-family: 'Delius Unicase', cursive
}
.typingFooter {
	font-size: 1.5vw;
	color:#1657c2;
	white-space: nowrap;
	overflow: hidden;
	border-right: .10em solid black;
	-webkit-animation: typing 2s steps(36, end), blink-caret 1s step-end ;
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-delay: 1s;
}
.admin_footer {
	position:relative; 
	color: #3A9C7C;
	font-size: 2vw;
	font-weight: bolder;	
	white-space: nowrap;
	overflow: hidden;
	border-right: .20em solid #59c19f;
	-webkit-animation: typing 2s steps(36, end), blink-caret 1s step-end ;
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-delay: 1s;	
}



.blur{
	background:whtie;
	color: #808080;
	transition: 1s;
	text-decoration: none;
}
.blur:hover{
	color:transparent;
	text-shadow: 0 0 .01em #525ead, 0 0 .3em white;
}

.admin_blur{
	background:whtie;
	color: #000;
	transition: 1s;
	text-decoration: none;
}
.admin_blur:hover{
	color:transparent;
	text-shadow: 0 0 .01em #daeded, 0 0 .3em #000;
}

@import url('https://fonts.googleapis.com/css?family=Give+You+Glory|Kelly+Slab|Poiret+One');

.description, .apptitle, .appsub, .signin, .join, .out, .modifyinfo, .pList, .admin_footer {
	font-family: 'Bungee Hairline', cursive;
	text-decoration: none;
}
.login {
	text-align: center; 
	font-size: 1vw; 
	position:absolute; top:11vw; left:35vw;
}
.signin {
	font-size: 200%;
	font-weight: bold;
}
.out {
	font-size: 200%;
	font-weight: bold;
	text-decoration: none;
}
.join {
	font-size: 200%;

}
.modifyinfo {
	font-size: 270%;
	text-decoration: none;
	
}
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.description {
	font-family: ‘Noto Sans KR’ ;
	font-size:190%;
	font-weight: bold;
	padding-top: 1%;
}
.apptitle {
	font-size:130%; 
	font-weight: bolder;
}
.appsub {
	font-size: 110%;
	font-weight: bold;
}

.date_title {
	height: 80px; 
	text-align: center; 
	font-family: 'Bungee Hairline', cursive; 
	font-size: 200%; 
	font-weight:bolder;
	
}
.dow {
	height: 80px; 
	text-align: center; 
	line-height: 80px;
	font-family: 'Bungee Hairline', cursive; 
	font-size: 200%; 
	font-weight:bolder; 
	
}
.date_f {
	line-height:1.5vw;
	padding:4px;
	font-size: 0.4vw;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;
	color: #aaaaaa;
	padding: 0.1vw;
}
.admin_date_f {
	line-height:1.5vw;
	font-size: 0.4vw;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;
	color: #3D8C7C;
	padding: 0.1vw;
}


.week_f {
	text-align:center;
	font-size: 0.4vw;
	color: #ff8040;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;
	
}
.write_font{
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;	
}
.writeImg {
	font-family: ‘Noto Sans KR’ ;
	font-weight: lighter;	
}
.loginstyle {
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;	
}
#locationinformation{
	font-size:0.8vw; 
	position:absolute; 
	top:30vw;left: 78vw;
	font-family: 'Bungee Hairline', cursive; 
	font-weight:bolder;
	color: #B6AEA5;
	text-decoration: none;
}
.cpList {
	position:absolute; 
	height:10vw; top:33vw;
	background-color: #feeba8;
	font-family: 'Bungee Hairline', cursive;
	
	overflow:auto;
}
/*예약주문이력삭제*/
.pList {
	display:none;
	width:98vw; height:40vw;
	background-color: #5E959F;
	overflow:auto;
	position:absolute; 
	font-family: 'Bungee Hairline', cursive; 
	overflow:auto;
}
.listSub {
	background-color:#5E959F;
	text-align: center;
	padding: 1% 0% 0.3% 0%;
	border-bottom: 5px solid #5E959F;
	font-size: 0.85vw;
}
.listContent {
	background-color:#AEC4C8;
	text-align: center;
	padding: 1% 0% 1% 0%;
	border-bottom: 5px solid #5E959F;
	font-size: 0.8vw;
	color: #657174;
	font-weight: bolder;
}
.booklist {
	text-align: center; 
	color:black;
	font-weight:bolder;
	padding: 1% 0% 1% 0%;
	border-bottom: 5px solid white;
	overflow: auto;
}
.time {
	font-size: 0.4vw;
}
#insite {
	width:90%;
	height:10%;
	right:45%;
	line-height: 1.5;
	padding: .3em .8em;
	border: none;
	background: #ADD7F4 linear-gradient(hsla(0,0%,100%,.2), 
				transparent);
	border-radius: .4em;
	box-shadow: 0 .05em .25em rgba(0,0,0,.5);
	color:white;
	text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
	line-height: 1;	
	transition-duration: 0.3s;
	transition-timing-function: ease;
	font-size: 50%;
}
#insite:hover {
	background: #EA575B;
}

#insite:hover{
	color:transparent;
	text-shadow: 0 0 .01em white, 0 0 .3em white;
}
